<%- include("partials/header") %>

<header class="jumbotron" id="home-scroll">
  <div class="container">
    <h1>Welcome to YelpCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p>
      <a class="btn btn-default btn-lg btn-dark" href="#campground-scroll">See our campgrounds</a>
      <a class="btn btn-default btn-lg btn-dark" href="/campgrounds/new">Add new campground</a>
    </p>
  </div>
</header>

<div id="campground-scroll"></div>

<div class="container" id="campgrounds">
  <div class="row" style="display: flex; flex-wrap: wrap">
    <% campgrounds.forEach((campground) => { %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a class="a-thumbnail" href="/campgrounds/<%= campground._id %>">
          <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="caption">
              <h4 class="index"><%= campground.name %></h4>
              <div>
                <span><em>3 days ago</em></span>
                <span class="pull-right">Price: <strong><em>£9.00/night</em></strong></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</div>

<%- include("partials/footer") %>
