<%- include("partials/header") %>

  <div class="container">
    <h1><%= campground.name %></h1>

    <img src="<%= campground.image %>">

    <p><%= campground.description %></p>

    <% campground.comments.forEach((comment) => { %>
      <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
      </p>
    <% }) %>

    <form class="" action="/campgrounds/<%= campground._id %>/comments" method="post">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="name" name="author">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="2" cols="80" placeholder="comment" name="text"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Add Comment</button>
      </div>
    </form>

  </div>



<%- include("partials/footer") %>
